<% include ../partials/header %>


<table class="table">
    <thead>
    <tr style="text-align:center">
    <th>ITEMNAME</th>
    <th>QUANTITY PURCHASES</th>
    <th>AMOUNT</th>
    <th>TOTAL PRICE</th>
</tr>
</thead>

<tbody id="repPSALE">

        <% reportPChase.forEach(function(reportPChase){ %>
            <tr style="text-align:center">
                <td scope="row"><%= reportPChase.title %></td>
                <td><%= reportPChase.quantity %></td>
                <td>$<%= reportPChase.price %></td>
                <td>$<%= reportPChase.totalprice %></td>          
            </tr>
            <%})%>
            <% totalP.forEach(function(totalP){ %>
            <tr>
                <th >TOTAL</th>
                <th scope="row"><%= totalP.Tquantity %></th>
                <th><%= totalP.Ttotalprice %></th>
            </tr>
            <%})%>
            

</tbody>
</table>
<script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#repPSALE tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>

<% include ../partials/footer %>